bench_inv
bench_ecdh
bench_sign
bench_verify
bench_schnorr_verify
bench_recover
bench_internal
tests
gen_context
*.exe
*.so
*.a
!.gitignore

autom4te.cache/
config.log
*.tar.gz
*.la
libtool
.deps/
.dirstamp
*.lo
*.o
*~
